.item__wrapper {
    background-color:#fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    gap: 50px;
    margin: 0 auto;
}
.item__image {
    width: 200px;
    height: 250px;
}
.item__details {
    font-size: 20px;
    
    
}
.item__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}
.item__name {
    color: #1976d2;
}
.item__image__wrapper {
    width: 200px;
    height: 250px;
    background-color: grey;
    
    
}
.item__button__wrapper {
    
}
.item__button {
    
   width: 100px;
    
}
@media screen and (max-width:768px) {
    .item__details {
        font-size: 14px;
    }
    .item__button {
        width: 80px;
    }
    .item__image {
        width: 150px;
        height: 200px;
    }
    .item__image__wrapper {
        width: 150px;
        height: 200px;
    }
    .item__wrapper {
        gap: 30px;
    }
    
  }
  @media screen and (max-width:425px) {
    .item__details {
        font-size: 12px;
    }
    .item__button {
        width: 80px;
    }
    .item__image {
        width: 120px;
        height: 180px;
    }
    .item__image__wrapper {
        width: 120px;
        height: 180px;
    }
    .item__wrapper {
        gap: 20px;
    }
    
  }