.details__wrapper {
    width: 80%;
    background-color: #fff;
    margin: 0 auto;
    padding-bottom: 100px;
    padding: 20px;
}
.details__info {
    display: flex;
    gap: 20px;
    flex-direction: row;
    font-size: 18px;
}
.details__title {
   
}
.details__image {
    width: 300px;
    height: 400px;
    
}
.details__image__wrapper {
    display: flex;
    flex-direction: column;
}

.details__description {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    
}


.details__plot__wrapper {
    padding: 80px 0px;
}
.details__plot {
    font-size: 18px;
}
.details__rating {
    display: flex;
    align-items: center;
    
    
    
}
.details__rating__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 25px;
    
    
    
    
}
.details__my__rating {
    display: flex;
    align-items: center;
}

/* .details__rating::before {
    content: '★';
    color: gold;
    font-size: 40px;
} */

.details__icon {
    width: 40px;
    color: gold;
    
}
.details__buttons {
    
    width: 300px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.description__flex__wrapper {
    display: flex;
    gap: 100px;
    padding-top: 25px;
    
    
}
.description__flex {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    
    
    
    
}

@media screen and (max-width:1024px) {
    .details__image {
        width: 250px;
        height: 300px;
        
        
    }
    
    .details__buttons {
    
        width: 250px;
        
    }
    .description__flex__wrapper {
        gap: 50px;
        
    }
    .details__info {
        font-size: 14px;
        
    }
    .details__plot {
        font-size: 14px;
    }
    
  }
@media screen and (max-width:768px) {
    .details__wrapper {
        padding: 10px;
    }
    
    .details__image {
        width:320px;
        height: 480px;
        
    }
    .details__image__wrapper {
        margin: 0 auto;
    }
    .details__info {
        font-size: 12px;
        flex-direction: column;
        align-items: center;
        
    }
    .details__buttons {
        width: 320px;
        
    }
    .description__flex__wrapper {
        gap: 5px;
        
    }
    
    
  }
  @media screen and (max-width:425px) {
    .details__wrapper {
        padding: 5px;
    }
    .details__image {
        width: 240px;
        height: 320px;
        
    }
    
    .details__buttons {
        width: 240px;
        
    }   
    
    
  }
  
  