* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-color: #e6ebee;
}
 

.search {
    padding-bottom: 40px;
}
.pagebtn {
    width: 40px;
    padding: 5px;
}
.pagebtn__active {
    border: 2px solid burlywood;
}
 /* .movies__wrapper {
    background-color: #e9ebee;
} */
.movie__details__wrapper {
    padding: 100px 0px;
} 
