.comments__wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    /* padding-left: 20px;
    padding-bottom: 100px; */
    padding: 0px 20px 100px 20px;
    
}
.comments__button {
    text-align: right;
    padding-top: 20px;
    padding-right: 10px;
}
@media screen and (max-width:768px) {
    .comments__wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    
  }