.login_wrapper {
    
    display: flex;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    
    
}
.login_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    border: 0.5px solid #D9DDDC;
    border-radius: 5px;
    padding: 100px 50px;
}
.login_text {
    
}
.form_header {
   text-align: center;
}
.login_bottom_wrapper {
    display: flex;
    justify-content: space-between;
}
.login__link {
    text-decoration: none;
    color: blue;
}
.login__button {
    width: 100px;
    padding: 8px 0px;
    background: transparent;
    border: 2px solid green;
    color: green;
    font-size: 16px;
    cursor: pointer;
    
}
@media screen and (max-width:768px) {
    .login_form {
        width: 400px;
        padding: 70px 35px;
    }
    
    
  }
  @media screen and (max-width:425px) {
    .login_form {
        width: 300px;
        padding:50px 25px;
    }
    .login_text {
        font-size: 14px;
    }
    
  }