.comment__wrapper {
    
    padding: 40px 0px;
    display: flex;
    gap: 20px;
}
.comment__img {
    width: 40px;
    border-radius: 50%;
}
.comment__info {
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.comment__button {
    width: 100px;
}
.comment__author {
    color: #1976d2;
}
.comment__modal {
    border: 1px solid black;
    background: whitesmoke;
    padding: 40px 0;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;
}